export(AAC)
export(ALL_PARTITION_METHOD)
export(ALL_TOP_VALUE_METHOD)
export(PAC)
export(adjust_outlier)
export(consensus_partition)
export(correspond_between_rankings)
export(correspond_between_two_rankings)
export(register_partition_fun)
export(register_top_value_fun)
export(remove_partition_method)
export(remove_top_value_method)
export(run_all_consensus_partition_methods)
export(test_between_known_factors)
export(venn_euler)
exportClasses(ConsensusPartition)
exportClasses(ConsensusPartitionList)
exportMethods(collect_classes)
exportMethods(collect_plots)
exportMethods(consensus_heatmap)
exportMethods(dimension_reduction)
exportMethods(get_class)
exportMethods(get_consensus)
exportMethods(get_membership)
exportMethods(get_param)
exportMethods(get_signatures)
exportMethods(get_single_run)
exportMethods(get_stat)
exportMethods(membership_heatmap)
exportMethods(plot_ecdf)
exportMethods(select_partition_number)
exportMethods(top_rows_heatmap)
exportMethods(top_rows_overlap)

import(ComplexHeatmap)
import(clue)
import(grDevices)
import(graphics)
import(grid)
import(matrixStats)
import(methods)
import(stats)
import(utils)
importFrom(GetoptLong, qq, qqcat)
importFrom(NMF, cophcor)
importFrom(RColorBrewer, brewer.pal)
importFrom(Rtsne, Rtsne)
importFrom(cclust, cclust)
importFrom(circlize, colorRamp2)
importFrom(cluster, pam, silhouette)
importFrom(crayon,bgBlue)
importFrom(crayon,bgCyan)
importFrom(crayon,bgGreen)
importFrom(crayon,bgMagenta)
importFrom(crayon,bgRed)
importFrom(crayon,bgWhite)
importFrom(crayon,bgYellow)
importFrom(crayon,blue)
importFrom(crayon,cyan)
importFrom(crayon,green)
importFrom(crayon,magenta)
importFrom(crayon,red)
importFrom(crayon,reset)
importFrom(crayon,silver)
importFrom(crayon,yellow)
importFrom(genefilter, rowFtests, rowttests)
importFrom(gplots,venn)
importFrom(mclust, Mclust)
importFrom(parallel, mclapply)
importFrom(png, readPNG)
importFrom(samr, SAM)
importFrom(skmeans, skmeans)
importFrom(kohonen, som)

