export('print.msigdb')
export(AAC)
export(PAC)
export(adjust_matrix)
export(adjust_outlier)
export(all_partition_methods)
export(all_top_value_methods)
export(cola)
export(consensus_partition)
export(correspond_between_rankings)
export(correspond_between_two_rankings)
export(enrich_signatures_to_genesets)
export(enriched_functions_word_cloud)
export(gene_co_occurrence)
export(hierarchical_partition)
export(load_msigdb)
export(msigdb_catalogue)
export(reduce_david_results)
export(register_partition_fun)
export(register_top_value_fun)
export(remove_partition_method)
export(remove_top_value_method)
export(run_all_consensus_partition_methods)
export(submit_to_david)
export(test_between_factors)
export(venn_euler)
exportClasses(ConsensusPartition)
export(ConsensusPartition)
exportClasses(ConsensusPartitionList)
export(ConsensusPartitionList)
exportClasses(HierarchicalPartition)
export(HierarchicalPartition)
exportMethods(collect_classes)
exportMethods(collect_plots)
exportMethods(consensus_heatmap)
exportMethods(dimension_reduction)
exportMethods(get_best_k)
exportMethods(get_class)
exportMethods(get_consensus)
exportMethods(get_membership)
exportMethods(get_param)
exportMethods(get_signatures)
exportMethods(get_single_run)
exportMethods(get_stat)
exportMethods(membership_heatmap)
exportMethods(plot_ecdf)
exportMethods(select_partition_number)
exportMethods(signature_density)
exportMethods(test_to_known_factors)
exportMethods(top_rows_heatmap)
exportMethods(top_rows_overlap)

import(ComplexHeatmap)
import(clue)
import(grDevices)
import(graphics)
import(grid)
import(matrixStats)
import(methods)
import(stats)
import(utils)
importFrom(GetoptLong, qq, qqcat)
importFrom(NMF, cophcor)
importFrom(RColorBrewer, brewer.pal)
importFrom(Rtsne, Rtsne)
importFrom(circlize, colorRamp2, rand_color)
importFrom(cluster, pam, silhouette)
importFrom(crayon, bgBlue)
importFrom(crayon, bgCyan)
importFrom(crayon, bgGreen)
importFrom(crayon, bgMagenta)
importFrom(crayon, bgRed)
importFrom(crayon, bgWhite)
importFrom(crayon, bgYellow)
importFrom(crayon, blue)
importFrom(crayon, cyan)
importFrom(crayon, green)
importFrom(crayon, magenta)
importFrom(crayon, red)
importFrom(crayon, reset)
importFrom(crayon, silver)
importFrom(crayon, yellow)
importFrom(gplots, venn)
importFrom(httr, GET, POST, content)
importFrom(kohonen, som)
importFrom(kohonen, somgrid)
importFrom(mclust, Mclust, mclustBIC)
importFrom(microbenchmark, microbenchmark)
importFrom(parallel, mclapply)
importFrom(png, readPNG)
importFrom(samr, SAM)
importFrom(skmeans, skmeans)
importFrom(tm, tm_map, Corpus, VectorSource, content_transformer, removeNumbers, removeWords, removePunctuation, stripWhitespace, stopwords, TermDocumentMatrix)
importFrom(wCorr, weightedCorr)
importFrom(wordcloud, wordcloud)
importFrom(xml2, read_xml, xml_children, xml_attr, xml_text, xml_name)

